---
# The coding style for automatic reformatting using clang-format.
# Documentation on options:
#   http://clang.llvm.org/docs/ClangFormatStyleOptions.html
# Inspect the configs:
#   clang-format --dump-config | grep ...
BasedOnStyle: Chromium

# Disable trailing comment alignment so that git-diff views are not messed
# up by re-aligned comments on lines the author did not touch.
AlignTrailingComments: false
